.padre {
    display: flex;
    height: 500px;
    width: 500px;
    background-color: blue;
    justify-content: space-between;

}

.hijo {    
    width:  100px;
    height: 200px;
    
    border: 2px solid black;
    background-color: yellow;
}