.padre {
    height: 500px;
    width: 500px;
    background-color: blue;
    display: flex;   
    overflow-x: scroll; 
}

.hijo {   
    border: 2px solid black;
    background-color: yellow;
    height: 100px;
    width: 100px;  
    flex-shrink: 0;
        
}



