/*.texto {
    font-family:'Lucida Sans';
    font-size: 16px;
    font-weight: bold; 
    font-style: italic;
    font: bold 24px Verdana;
    text-align: center;    
    text-decoration-color: red;
    color:#4ba56d;
    color: rgba(88, 127, 226, 0.349);
    
}*/

.tamaño {
    background-color: red;
    padding: 10px;
    margin: 20px;
}