/* Pseudoclases */

/* hover */

div.hover {
    background-color: brown;
    color: white;
}

div.hover:hover {
   background-color: blue;
   color: black;
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

/* first-child, last-child, nth-child */

div.child {
    background-color: blue;
}

div.child p {
    background-color: cadetblue;
}

/*div.child p:first-child {
    background-color: red;
}*/


div.child p:last-child {
    background-color: red;
}

div.margen {
    background-color: darkblue;
}

div.margen p {
    padding-bottom:40px;
}

div.margen p:last-child {
    padding-bottom: 0;
}


div.nth {
    background-color: red;    
}

/*nth-child(1) -> first-child*/

/*div.nth p:nth-child(3n+1) {
    background-color: green;
}*/






