/* cascada */

/*.clase1 {
    background-color: blue;
    background-color: red;
}*/

/* especifidad */

/*.clase {color:yellow}
.clase1 {background-color: blue;}
div {background-color: red;}*/

/*a {
    color: green !important;
    color: red !important;
}*/

/*.rojo {color: red}*/


/* herencia */

/*div {
    font-size:30px;
    background-color: red;
    padding: 10px;
}*/










