* {box-sizing: border-box}

body {
    background-color: #eee;
}



.container {
    
    font-size: 1.4em;
    width: 100%;
    /*min-width: 800px;*/
    max-width: 1200px;    
    margin: 0 auto;
    padding: 0 1em;  
    background-color: blue;
    

    /*width: 100%;*/
}

.flex {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/

}

/*@media (min-width: 800px)  { 
    .container {background-color: red;}
}

@media (min-width: 600px) and (max-width: 799px) {
    .container {background-color: yellow;}
}

@media (max-width: 599px) { 
    .container {background-color: green;}
}*/



.hijo {
    /*background-color: red;
    width: 65%;
    margin-right:50px;*/
    /*margin-right: 1px;*/
   

    
   
}

.primo {
    /*background-color: green;
    width: 30%*/
    /*width: calc(30% - 100px);*/
    /*margin-left:10px;*/
    

}

body {
    background-color: red;
}

.virensis {
    width:100%;
}

.virensis img {
    
    width:50%;
    height:100px;
    object-fit: cover;
    object-position: center;
}


