* {box-sizing: border-box;}

.padre {   
    background-color: blue;
    height: 500px;
    width: 80%;
}


.hijo {
    border: 1px solid black;
    background-color: yellow;
    width: 100px;
    height: 100px;      
}









