.padre-flex {
    width: 500px;
    height: 600px;
    background-color: red;
    display: flex;  
    flex-direction: row;    
    flex-wrap: nowrap;
    justify-content: center;   
    
   
}

.hijo-flex {
    font-size: 30px;
    /*width: 100px;*/
    width: 80px;
    height: 80px;
    border: 1px solid black;
    background-color: green;
    color:white;
}

